<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeequan.jeepay.service.mapper.PretenderAccountMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jeequan.jeepay.core.entity.PretenderAccount">
        <id column="id" property="id" />
        <result column="account" property="account" />
        <result column="biz_type" property="bizType" />
        <result column="certificate" property="certificate" />
        <result column="status" property="status" />
        <result column="gmt_create" property="gmtCreate" />
        <result column="gmt_update" property="gmtUpdate" />
        <result column="ext" property="ext" />
    </resultMap>


    <select id="randomByBizType" resultMap="BaseResultMap" parameterType="java.lang.String">
        SELECT *
        FROM `t_pretender_account` AS t1
                 JOIN (
            SELECT ROUND(RAND () * ((
                                        SELECT MAX(id)
                                        FROM `t_pretender_account` WHERE `status`='AVAILABLE' AND biz_type= #{bizType})-(
                                        SELECT MIN(id)
                                        FROM `t_pretender_account`  WHERE `status`='AVAILABLE' AND  biz_type= #{bizType}))+(
                             SELECT MIN(id)
                             FROM `t_pretender_account` WHERE `status`='AVAILABLE' AND  biz_type= #{bizType})) AS id) AS t2
        WHERE t1.id >= t2.id AND t1.`status` ='AVAILABLE' AND t1.biz_type= #{bizType}
        ORDER BY t1.id
            LIMIT 1;
    </select>


</mapper>
