<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeequan.jeepay.service.mapper.ResellerOrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jeequan.jeepay.core.entity.ResellerOrder">
        <id column="id" property="id" />
        <result column="order_no" property="orderNo" />
        <result column="reseller_no" property="resellerNo" />
        <result column="product_type" property="productType" />
        <result column="charge_account" property="chargeAccount" />
        <result column="amount" property="amount" />
        <result column="query_flag" property="queryFlag" />
        <result column="charge_account_type" property="chargeAccountType" />
        <result column="order_status" property="orderStatus" />
        <result column="match_out_trade_no" property="matchOutTradeNo" />
        <result column="gmt_paying_start" property="gmtPayingStart" />
        <result column="gmt_create" property="gmtCreate" />
        <result column="gmt_update" property="gmtUpdate" />
        <result column="version" property="version" />
    </resultMap>


    <select id="randomByAmountAndProductType" resultMap="BaseResultMap" parameterType="java.util.Map">
        SELECT *
        FROM `t_reseller_order` AS t1
                 JOIN (
            SELECT ROUND(RAND () * ((
                                        SELECT MAX(id)
                                        FROM `t_reseller_order`
                                        WHERE `order_status`='WAITING_PAY' AND amount= #{amount} AND product_type=#{productType})-(
                                        SELECT MIN(id)
                                        FROM `t_reseller_order`
                                        WHERE `order_status`='WAITING_PAY' AND amount= #{amount} AND product_type=#{productType}))+(
                             SELECT MIN(id)
                             FROM `t_reseller_order`
                             WHERE `order_status`='WAITING_PAY'AND amount= #{amount} AND product_type=#{productType})) AS id) AS t2
        WHERE t1.id >= t2.id AND t1.`order_status` ='WAITING_PAY' AND t1.amount= #{amount} AND product_type=#{productType}
        ORDER BY t1.id
            LIMIT 1;
    </select>

</mapper>
